#srt,#info,#rst
{
font-size: 20px;
}
.head{
    width:100%;
}
.head h3{
    display:inline;
}
.head button{
    float: right;
}
#canvas{
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    width: 750px;
}
h4 {
    background-color: grey;
    color: white;
    margin: 0px;
    line-height: 2;
}